/* *には疑似要素は含まれない。 */
*, *::before, *::after {
  /* box-sizing:border-box  paddngやborderによるズレを自動修正。初期値content-box */
  box-sizing: border-box;
}

p {
  font-size: 15px;
}

body {
  /* レスポンシブデザインのため、最大幅を指定 */
  max-width: 1080px;
  margin: 0 auto;
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic", Meiryo, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

#nav-pc {
  font-size: 14px;
}

#nav-pc ul {
  display: flex;
  /* padding-leftの初期値は0であるが、ユーザーエイジェントスタイルシートで最頻値40pxで上書きされる。 */
  padding-left: 0;
}

#nav-pc li {
  /* list-style: none; → 一貫性の担保、レイアウト調整、視覚的理解度改善によるアクセシビリティ向上も目的 */
  list-style: none;
}

#nav-pc a {
  /* text-decoration: none;　リンクの下線を消す */
  text-decoration: none;
  margin-left: 20px;
  color: #0d0d0d;
}

#nav-pc a:hover {
  text-decoration: underline;;
}

#main-visual {
  position: relative;
  height: 400px;
}

#nav-sp, #menu-sp {
  display: none;
}

#main-massage {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2710d5;
  color: #fff;
  /* 右下を丸くする */
  border-bottom-right-radius: 476px;
  max-width: 620px;
  /* 親要素に合わせて拡大 */
  width: 100%;
  height: 100%;
  z-index: 11;
}


#main-massage > h1 {
  font-size: 60px;
  margin: 100px 0 0 50px;
}

#main-massage > p {
  font-size: 28px;
  margin: 0 0 0 50px;
}

#main-visual > img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 620px;
  z-index: 10;
  border-top-left-radius: 476px;
}

h2 {
  margin-top: 40px;
}

h2::after {
  content: url(images/line.png);
  margin-left: 10px;
}

h3 {
  font-size: 27px;
}

#mission {
  margin: 80px auto;
}

#mission-flex {
  display: flex;
}

#mission-flex > div {
  width: 50%;
  margin: 20px;
}

#mission-photo {
  width: 100%;
}

#s2dgs {
  margin-top: 50px;
  width: 100%;
}

#product {
  background-color: #fafafa;
  margin: 80px 0;
  padding: 10px 40px 0 40px;
}

#product .product-flex {
  margin-top: 40px;
  display: flex;
}

#product-left {
  /* .product-flex内で左右を2等分するためのwidth: 50%; */
  width: 50%;
  margin-right: 20px;
}

#product-right {
  width: 50%;
  margin-left: 20px;
  margin-top: 80px;
}

/* 画像+説明の枠 */
#product-left > div {
  position: relative;
  height: 480px;
  margin-right: 20px;
}

#product-right > div {
  position: relative;
  height: 480px;
  margin-left: 20px;
}

.product-photo {
  width: 100%;
}

.product-explain {
  background-color: #ffffff;
  position: absolute;
  bottom: 50px;
  left: 0;
  margin: 0 40px;
  padding: 20px;
  box-shadow: 5px 5px 10px agba(0, 0, 0, 0.05);
}

.product-explain > span {
  color: #2710d5;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.product-explain > h3 {
  margin: 5px 0;
}

.product-explain > p {
  font-size: 14px;
  margin: 0;
}

#product-more {
  text-align: center;
  ;
}

.product-more a {
  position: absolute;
  /* topで指定するよりbottomで指定することでレイアウトが崩れ難く、レスポンシブデザインに対応しやすい */
  bottom: -42px;
}

#aboutus {
  margin: 80px auto;
}

#aboutus >div {
  display: flex;
}

.culture-img {
  width: 50%;
  align-self: flex-start;
}

.culture-img2 {
  margin-top: 50px;
  width: 100%;
}

.culture-num {
  font-size: 80px;
  color: #2710d5;
  padding-right: 20px;
}

.culture-table th {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.culture-en {
  color: #2710d5;
  font-size: 24px;
}

.culture-description {
  margin: 0;
}

#vision {
  margin: 80px auto;
}

#vision > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.vision-box {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  position: relative;
}

.vision-box > img {
  width: 100%;
  position: relative;
  z-index: 30;
}

.vision-box > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 31;
  margin-right: 20px;
}

.vision-box > div > h4 {
  color: #2710d5;
  font-size: 19px;
  margin-top: 80px;
}

.vision-box > div > h4::first-letter {
  font-size: 40px;
}

.vision-box > div >h5 {
  font-size: 20px;
  margin: 0;
}

.vision-box > div > p {
  margin-top: 10px;
}

#company {
  margin: 80px auto;
}

#campany-table {
  width: 100%;
}

.tableheader {
  text-align: left;
  padding: 20px;
  border-bottom: #2710d5 1px solid;
  width: 100px;
}

.tableheader-first {
  border-top: #2710d5 1px solid;
}

.cell {
  padding: 30px;
  border-bottom: #ececec 1px solid;
}

.cell-first {
  border-top: #ececec 1px solid;
}

#company > iframe {
  width: 100%;
  height: 368px;
  margin-top: 40px;
}

#contact {
  margin: 80px auto;
}

#contact > form > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.contact-heading {
  width: 240px;
  align-self: center;
}

.contact-label {
  font-weight: bold;
}

.contact-span {
  color: #ce2222;
  margin-left: 20px;
  font-weight: bold;
}

.contact-textbox {
  border: 0;
  border-bottom: 1px solid #707070;
  background-color: #fafafa;
  width: 400px;
  height: 56px;
}

.contact-textarea {
  border: 0;
  border-bottom: 1px solid #707070;
  background-color: #fafafa;
  width: 400px;
  height: 200px;
}

#contact dt {
  font-weight: bold;
}

#contact dd {
  margin-bottom: 16px;
}

#contact dd p {
  margin: 0;
}

#contact dd ul {
  padding-left: 0;
}

#contact dd li {
  margin-bottom: 0;
  list-style: none;
}

footer {
  background-color: #0d0d0d;
  text-align: center;
  padding: 80px 80px 30px;
}

#footer-logo {
  margin-bottom: 30px;
}

#footer-link {
  margin-bottom: 50px;
}

#footer-link > a {
  text-decoration: none;
  margin: 10px;
  color: #ffffff;
}

#footer-link > a:hover {
  text-decoration: underline;
}

#sns-footer {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

#sns-footer a {
  margin-right: 30px;
}
#copyright {
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 767px) {
  #nav-pc {
    display: none;
  }

  #menu-sp {
    display: block;
    background-color: transparent;
    float: right;
    padding: 0;
    border: none;
  }

  #nav-sp {
    background-color: #2710d5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
  }

  #close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
  }

  #nav-sp nav ul {
    padding-left: 0;
  }

  #nav-sp nav ul {
    list-style: none;
  }

  #logo-sp {
    margin: 80px 0 30px 20px;
  }

    #nav-sp nav a {
      display: block;
      color: #ffffff;
    }
  #nav-sp nav a:hover {
    text-decoration: underline;
  }

  #nav-sp .menu{
    text-decoration: none;
    margin: 0 20px;
    height: 44px;
    font-size: 16px;
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: right top;
  }
  #sns {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  #sns > a {
    margin-right: 30px;
  }

  #main-visual {
    position: relative;
    height: 470px;
  }

  #main-visual > div {
    text-align: center;
    height: 280px;
  }

  #main-visual h1 {
    font-size: 28px;
    margin-top: 90px;
  }
  
  #main-visual > div > p {
    margin: 0;
    font-size: 15px;
  }

  #main-visual > img {
    width: 100%;
    border-top-left-radius: 476px;
    top: auto;
    bottom: 0;
  }
  
  h2 {
    margin: 15px 0;
  }

  h3 {
    font-size: 24px;
    margin-top: 10px;
  }

  #mission {
    margin: 20px 0;
    padding: 0 20px;
  }
  #mission-flex {
    flex-direction: column;
  }

  #mission-flex > div {
    width: 100%;
    margin: 0;
  }

  #product {
    margin: 0;
    padding: 10px 20px 0;
  }

  #product .product-flex {
    flex-direction: column;
    margin-top: 0;
  }

  #product-left, #product-right {
    width: 100%;
    margin: 0;
  }
    
  #prodcuct-left > div, #product-right > div {
    margin: 0;
    height:auto;
  }

  .product-explain {
    position: relative;
    margin: 0;
  }

  .product-exprain > h3 {
    margin: 10px 0;
    font-size: 24px;
  }

  #product-more {
    text-align: left;
  }

  #aboutus {
    margin: 80px 20px;
  }

  #aboutus > div {
    flex-direction: column;
  }

  .culture-table th {
    font-size: 16px;
  }

  .culture-table {
    margin-right: 0;
    padding-right: 20px;
    order: 2;
  }

  .culture-img {
    width: 100%;
    order: 1;
  }

  .culture-img2 {
    margin-top: 0;
  }

  .culture-num {
    padding: 0;
  }

  .culture-description {
    margin: 0;
  }

  #vision {
    margin: 80px 20px;
  }



  .vision-box > img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .vision-box > div h4 {
    margin-top: 60px;
  }

  #company {
    margin: 0 20px;
  }

  #cmpany > h3 {
    margin-bottom: 20px;
  }

  .tableheader {
    width: 50px;
    writing-mode: vertical-rl;
    letter-spacing: 10px;
  }

  .cell {
    padding: 20px;
  }

  #company > iframe {
    height: 240px;
  }

  #contact {
    margin: 80px 20px;
  }

  #contact > h3 {
    margin-bottom: 20px;
  }

  #contact > form > div {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .contact-heading {
    align-self: auto;
    margin-bottom: 20px;
  }

  .contact-textbox {
    min-width: 300px;
    width: 100%;
  }

  .contact-textarea {
    height: 150px;
    width: 100%;
  }

  .radiobutton {
    margin-bottom: 20px;
  }

  footer {
    padding: 30px 20px 50px;
    text-align: left;
  }

  #footer-link > a {
    margin: 0 20px 30px 0;
    display: block;
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: right top;
  }

  #footer-link > a {
    text-decoration: underline;
  }

  #sns-footer {
    flex-direction: column;
  }

  #copyright {
    font-size: 12px;
    margin-top: 30px;
  }
}